body {
  margin: 0;
  /* background; */
  background: linear-gradient(to bottom,#DED1BD 20%,#DED1BD,#FAF6F2);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  
}



  
